/* Modifies the body tag */
body {
    margin: 0;
    padding: 0;
    
    background-color: #374f4e;
    
    font-family: 'Roboto Slab';
    font-weight: 100;
}

/* Container that centers horizontally and vertically, full viewport height */
.cts-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    height: 100vh;
}

/* Overall container for the left-hand panel */
.cts-left-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    height: 100%;
    width: 150px;
    
    x: 0;
    y: 0;
    
    background-color: #daccc4;
    
    border-right: 5px solid #aa8552;
}

/* Wrapper container for the top of the left -handpanel */
.cts-left-panel-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
}

/* Wrapper container for the center of the left -handpanel */
.cts-left-panel-center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    width: 150px;
    height: 300px;
}

/* Wrapper container for the bottom of the left -handpanel */
.cts-left-panel-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
}

/* Horizontal line in the left-hand panel */
.cts-horizontal-line {
    width: 125px;
    height: 5px;
    
    border: none;
    border-radius: 5px;
    
    background-color: #d1801e;
}

/* Controls a button */
.cts-button {
    display: flex;
    flex-direction: column;
    
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #edbd95;
    border: 3px solid #daccc4;
    border-radius: 10px;
    
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Hover state of the button */
.cts-button:hover {
    background-color: #af8c70;
}

/* Active state of the button (clicked) */
.cts-button:active {
    background-color: #ffdfc6;
    transition-duration: 0s;
}

.cts-button.dark-outline {
    border: 3px solid #aa8552;
}

/* Icon within a button */
.cts-button-icon {
    max-width: 32px;
    max-height: 32px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* Text within a button */
.cts-button-text {
    padding-bottom: 5px;
}

/* Controls the logo */
.cts-logo {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

/* The container that contains everything outside of the left panel */
.cts-center-container {
    display: flex;
    align-items: center;
    
    width: calc(100% - 150px);
    height: 100%;
    
    background-color: transparent;
}

/* This is the interior container in the center panel that
   is the exact dimensions of the actual content inside */
.cts-center-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    width: 1500px;
    height: 850px;
    
    margin: auto;
    padding: 10px;
    
    background-color: transparent;
}

/* The contacts list's container */
.cts-contacts-outer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12.5px;
    
    width: 450px;
    height: 850px;
    
    background-color: #aa8552;
    
    border: 3px solid #daccc4;
    border-radius: 10px;
}

/* Container for positioning the input and search button */
.cts-search-field-container {
    display: flex;
    align-items: stretch;
    
    height: 50px;
    width: 425px;
    
    background-color: #daccc4;
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5px;
}

/* Controls the search input field */
.cts-search-input-field {
    width: 375px;
    height: 100%;
    
    box-sizing: border-box;
    display: block;
    padding: 0 12.5px;
    
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    background-color: transparent;
    
    font-family: 'Roboto Slab';
    font-size: 16px;
    color: #374f4e;
}

/* Modifies the text field when the user hovers over */
.cts-search-input-field:hover {
    background-color: #ffffff64;
}

/* Controls the button in the search field */
.cts-search-button {
    width: 50px;
    height: 50px;
    
    box-sizing: border-box;
    
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Modifites the search button on hover */
.cts-search-button:hover {
    background-color: #ffffff64;
}

/* Modifites the search button on click */
.cts-search-button:active {
    background-color: #00000064;
}

/* The icon in the search button */
.cts-search-button-icon {
    width: 50px;
    height: 50px;
    
    margin: auto;
}

/* The line beneath the search field */
.cts-search-horizontal-line {
    width: 425px;
    height: 5px;
    
    border: 0;
    border-radius: 5px;
    
    background-color: #374f4e;
}

/* Container for the scrollable list */
.cts-list-container {
    box-sizing: border-box;
    overflow-y: auto;
    
    width: 425px;
    height: 600px;
    
    padding: 10px;
    position: relative;
    
    border-radius: 10px;
    
    background-color: #daccc4;
}

.cts-list-container::-webkit-scrollbar {
    width: 10px;
    
    background-color: #ffffff;
    border-radius: 10px;
}

.cts-list-container::-webkit-scrollbar-thumb {
    background-color: #628c8a;
    border-radius: 10px;
}

/* Modifites the search button on hover */
.cts-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #a3d6d4;
}

/* Modifites the search button on click */
.cts-list-container::-webkit-scrollbar-thumb:active {
    background-color: #374f4e;
}

/* Inner list wrapper */
.cts-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Controls an item in the contact list */
.cts-contact-item {
    display: flex;
    align-items: center;
    
    width: 100%;
    box-sizing: border-box;
    
    gap: 12px;
    padding: 8px 10px;
    
    border: 3px solid #374f4e;
    border-radius: 6px;
    
    background-color: #628c8a;
}

/* Modifies an items on hover */
.cts-contact-item:hover {
    background-color: #a3d6d4;
}

/* Adds an outline when item is selected */
.cts-contact-item[aria-selected="true"] {
    outline: 3px solid #d1801e;
}

/* Controls the small avatar */
.cts-small-contact-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    
    border-radius: 20px;
    
    background-color: #edbd95;
    
    color: #000000;
    font-weight: 600;
}

/* Controls display of metadata for an item */
.cts-contact-meta {
    display: flex;
    flex-direction: column;
    
    white-space: nowrap;
    overflow: hidden;
}

/* Name of a contact item */
.cts-contact-name {
    font-weight: 600;
}

/* Phone number of a contact item */
.cts-contact-phone {
    font-size: 0.9rem; color: #000000;
}

/* Container for the buttons below the scrollable list */
.cts-modify-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    
    width: 425px;
    height: 125px;
}

/* Controls the vertical line */
.cts-center-vertical-line {
    width: 5px;
    height: 850px;
    
    border: 0;
    border-radius: 5px;
    
    background-color: #d1801e;
}

/* Container for the large info panel */
.cts-center-contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 950px;
    height: 850px;
    
    border: 3px solid #daccc4;
    border-radius: 10px;
    
    background-color: #628c8a;
}

/* Container for the large contact avatar and name in the info panel */
.cts-info-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 25px;
    
    width: 100%;
    height: 100px;
    
    padding-left: 50px;
    
    background-color: transparent;
}

/* Controls the large avatar */
.cts-large-contact-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    
    border-radius: 25px;
    
    background-color: #edbd95;
    
    color: #000000;
    font-weight: 600;
}

/* Text for the name in the info panel */
.cts-info-title-text {
    width: 825px;
    
    font-weight: 100;
    font-size: 50px;
    color: #ffffff;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Horizontal line in the info panel */
.cts-info-horizontal-line {
    width: 900px;
    height: 5px;
    
    border: 0;
    border-radius: 5px;
    
    background-color: #daccc4;
}