/* Modifies the body tag */
body {
    margin: 0;
    padding: 0;
    
    background-color: #374f4e;
    
    font-family: 'Roboto Slab';
    font-weight: 100;
}

/* Container that centers horizontally and vertically, full viewport height */
.cts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}