/* Modifies the body tag */
body {
    margin: 0;
    padding: 0;
    
    background-color: #374f4e;
    
    font-family: 'Roboto Slab';
    font-weight: 100;
}

/* Container that centers horizontally and vertically, full viewport height */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

/* Controls the central background rectangle */
.login-bg-rect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 750px;
    width: 750px;
    
    border: 3px solid #daccc4;
    border-radius: 10px;
    
    background-color: #628c8a;
}

/* Controls the header text */
.login-header-text {
    font-size: 50px;
    text-align: center;
    
    color: #ffffff;
    
    padding: 25px;
}

/* Horizontal lines */
.login-horizontal-line {
    height: 5px;
    width: 700px;
    
    border: none;
    border-radius: 5px;
    
    background-color: #ffffff;
    
    margin-left: auto;
    margin-right: auto;
}

/* Adds padding to the horizontal line */
.login-horizontal-line.has-margins {
    margin-top: 40px;
    margin-bottom: 25px;
}

/* Label above the username and password text boxes */
.login-label {
    font-size: 25px;
    text-align: left;
    
    color: #ffffff;
    
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

/* Inner container rectangles for the text fields */
.login-field-container {
    display: flex;
    align-items: center;
    
    height: 80px;
    width: 630px;
    
    background-color: #c2a99c;
    border: 10px solid #daccc4;
    border-radius: 20px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Controls the text fields */
input[type="text"] {
    width: 100%;
    height: 100%;
    
    padding: 10px;
    
    border: 0;
    border-radius: 10px;
    
    background-color: transparent;
    
    font-family: 'Roboto Slab';
    font-size: 30;
    color: #374f4e;
}

/* Modifies the text field when the user hovers over */
input[type="text"]:hover {
    background-color: #ffffff32;
}

/* Controls the log in button */
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #edbd95;
    border: 3px solid #daccc4;
    border-radius: 10px;
    
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Hover state of the log in button */
.login-button:hover {
    background-color: #af8c70;
}

/* Active state of the log in button (clicked) */
.login-button:active {
    background-color: #ffdfc6;
    transition-duration: 0s;
}